<h1>Welcome to Recipe Remix</h1>
<h4><a href="/signup">Signup</a></h4>
<h4><a href="/login">Login</a></h4>

<p>Try <%= link_to 'Signing in with the GitHub strategy', 'https://github.com/login/oauth/authorize?client_id=4334eabfbacfb5f30399' %>.</p>

<p>Try <%= link_to 'Signing in with the Google strategy', '/auth/google_oauth2' %>.</p>


