<h1> Welcome, to the Login Page </h1>

<i><a href="/signup">Signup</a></i>
</br>
</br>

<form action="/login" method="post">
    <p>Username:<input id="user_name" type="text" name="name"></p>
    <p>Password:<input id="password" type="password" name="password"></p>
    <input type="submit" value="submit">
</form>