<h1>Welcome to the Ingredient Index</h1>

<h1>All Ingredients</h1>

<% @ingredients.each do |ingredient| %>
    <%= link_to ingredient.name, edit_ingredient_path(ingredient) %></br>
    </br>
<% end %>

<button><%= link_to 'Create an Ingredient', new_ingredient_path %></button></br>
</br>
<button><%= link_to 'See all Low Cal Ingredients', '/lowcal' %></button></br>
</br>
<button><%= link_to 'Head back to Recipes', recipe_index_path(@user) %></button></br>