<h1>My Recipes</h1>
<% if !@user_recipes.empty? %>
    <% @user_recipes.each do |recipe| %>
        <h3><%= link_to recipe.name, user_recipe_path(id: recipe.id) %><h3></br>
    <% end %>
<% end %>

<button><%= link_to "Create a Recipe!", new_user_recipe_path(user_id: @user.id) %></button>

<button><%= link_to "Create an Ingredient!", ingredients_path %></button>

<button><%= link_to "Logout", '/logout' %></button>



