<h1>All Recipes</h1>

<% @recipes.each do |recipe| %>
    <%= recipe.name %></br>
<% end %>


<h1>My Recipes</h1>
<% if !@user_recipes.nil? %>
    <% @user_recipes.each do |recipe| %>
        <%= link_to recipe.name, user_recipe_path(id: recipe.id) %></br>
    <% end %>
<% end %>

<p><%= link_to "Create a Recipe!", new_user_recipe_path(@recipes) %></p>

<p><%= link_to "Create an Ingredient!", ingredients_path %></p>
