<h1>Welcome to the Recipe Show!</h1>



</br>
<button><%= link_to "Create a Recipe!", new_user_recipe_path(user_id: @user) %></button></br>
</br>
<button><%= link_to "Create an Ingredient!", ingredients_path %></button></br>
</br>
<button><%= link_to "Logout", '/logout' %></button>
