<h1>Welcome to the Recipe Show!</h1>

<% @recipe.each do |recipe| %>
  <h5><%= link_to recipe.name, edit_user_recipe_path(id: recipe.id) %> ~ <%= current_user.username %></h5>
<% end %>

<button><%= link_to "Create an Ingredient!", ingredients_path %></button></br>
<button><%= link_to "Logout", '/logout' %></button>
